*{
    box-sizing: border-box;
}
body{
    background-color:#333;
    text-align: center;
}

#popUpButton{
    font-size: 1.5rem;
    position:absolute;
    background-color:blue;
    border:none;
    padding: 2%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#popUpButton:hover{
    cursor: pointer;
    background-color:green;
}
.popUp{
    display:none;
    position:absolute;
    background-color:blue;
    width: 300px;
    height: 300px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}