
*{
    box-sizing: border-box;
}
.mainWrapper{
    width:80vw;
    margin: 0 auto;
}
.mainTitle{
    color:red;
    text-align:center;
}

.flushTitle{
    margin-bottom:0;
}
p{
    margin-top:0;
}
.bolden{
    
    font-weight:bold;
}

.underline{
    text-decoration: underline;
}
.box{
    padding:0;
    margin-top:0;
    border: 1px solid black;
    width: 50%;
}

.highlight{
    background-color:grey;
}

#USImg{
    width: 30%;
    float:left;
    padding: 10px;
}

.center{
    margin: 0 auto;
}

.textCenter{
    text-align: center;
}
