
*{
    box-sizing: border-box;
}

body{
    background-color: #333;
}
.mainWrapper{
    width:50vw;
    margin: 0 auto;
    padding: 3em 5em 3em 5em;
    background-color:white;
    text-align: justify;
}
.mainTitle{
    color:red;
    text-align:center;
}

.flushTitle{
    margin-bottom:0;
}
p{
    margin-top:0;
}
.bolden{
    
    font-weight:bold;
}

.underline{
    text-decoration: underline;
}
.box{
    padding:0;
    border: 1px solid black;
    width: 50%;
    text-align: justify;
}

.highlight{
    background-color:grey;
}

#USImg{
    width: 30%;
    float:left;
    padding: 10px;
}

.center{
    margin: 0 auto;
}

.textCenter{
    text-align: center;
}
footer{
    margin: 7em 0em 0em 0em;
}

@media only screen and (max-width:1350px){
    .mainWrapper{
        width: 60vw;
    }
}

@media only screen and (max-width:1000px){
    .mainWrapper{
        width:70vw;
    }
}

@media only screen and (max-width: 800px){
    .mainWrapper{
        width:100%;
        padding: 3em 1em 3em 1em;
    }
    .box{
        width: 100%;
    }
}