* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color:#333;
}
.heroSection{
    background-color:aquamarine;
    height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.heroSection h1{
    text-align: center;
}

.mainWrapper{
    color:white;
    width:100%;
    text-align: center;
}

.primeNumberDisplay{
    background-color:white;
    color: black;
    width:50%;
    margin:0 auto;
}
.primeNumberDisplay p{
    border-bottom: 1px solid black;
    text-align: center;
}


